asciitree==0.3.3
astropy==5.1.1
astropy_healpix==1.0.3
astroquery==0.4.6
astroscrappy==1.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
ccdproc==2.4.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dask==2024.7.0
fasteners==0.19
fonttools==4.53.1
fsspec==2024.6.1
html5lib==1.1
idna==3.7
imageio==2.34.2
importlib_metadata==8.0.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jeepney==0.8.0
keyring==25.2.1
kiwisolver==1.4.5
lazy_loader==0.4
locket==1.0.0
matplotlib==3.7.0
more-itertools==10.3.0
networkx==3.3
numcodecs==0.12.1
numpy==1.23.5
packaging==24.1
partd==1.4.2
photutils==0.7.2
Pillow==9.4.0
pip==24.0
pycparser==2.22
pyerfa==2.0.1.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pyvo==1.5.2
PyYAML==6.0.1
reproject==0.13.1
requests==2.32.3
scikit-image==0.24.0
scipy==1.14.0
SecretStorage==3.3.3
setuptools==69.5.1
six==1.16.0
soupsieve==2.5
tifffile==2024.7.2
toolz==0.12.1
urllib3==2.2.2
webencodings==0.5.1
wheel==0.43.0
zarr==2.18.2
zipp==3.19.2
